# Hugging Face User Access Token (https://huggingface.co/settings/tokens)
# - Wymagany do uploadu modeli (upload_to_hub.py) - uprawnienia: WRITE
# - Opcjonalny przy pobieraniu z publicznych repozytoriów, ale zwiększa limity zapytań (Rate Limits)
# - Wymagany przy pobieraniu z prywatnych/bramkowanych repozytoriów
HF_TOKEN=your_token_here