# Bez ukośnika na początku łapie folder w każdym miejscu
data/animals
data/database
models/


# Złapie venv i .venv
venv/
.venv/
env/
.env/
.env

# Pliki systemowe i IDE
.DS_Store
**/.DS_Store
.vscode/
# Pliki Pythona i cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/